<p>git-db works!</p>

<!-- <div class="conter">
    <div class="col html" style="background-color: coral;"  [innerHTML] = "dbAjaxContent.html"></div>
    <div class="col js" style="background-color: rebeccapurple;">{{dbAjaxContent.js}} </div>
    <div class="col txt" style="background-color: violet ;">{{dbAjaxContent.txt}}</div>
    <div class="col json" style="background-color: wheat;">{{dbAjaxContent.json}}</div>
</div> -->

<div>
    <ul >
        <li *ngFor="let x of dbAjaxContent" >{{x.firstName}} -- {{x.lastName}}</li>
    </ul>
</div>
